@using KABKABEhandel.ViewModels
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model AddProductViewModel
<html>
<head>
    <title>Add product</title>
</head>
<body>
        <h1>Add product + @ViewBag.msg</h1>
        <form asp-controller="product" asp-action="add">
            <label asp-for="CategoryId"></label><br />
            <input asp-for="CategoryId" placeholder="Category Id" />
            <span asp-validation-for="CategoryId"></span>
            <br />
            <br />
            <label asp-for="Name"></label><br />
            <input asp-for="Name" placeholder="Name" />
            <span asp-validation-for="Name"></span>
            <br />
            <br />
            <label asp-for="Price"></label><br />
            <input asp-for="Price" placeholder="Price" />
            <span asp-validation-for="Price"></span>
            <br />
            <br />
            <label asp-for="Vat"></label><br />
            <input asp-for="Vat"  data-val='false' placeholder="VAT" />
            <span asp-validation-for="Vat"></span>
            <br />
            <br />
            <label asp-for="Discount"></label><br />
            <input asp-for="Discount" data-val='false' placeholder="Discount" />
            <span asp-validation-for="Discount"></span>
            <br />
            <br />
            <label asp-for="NumberInStock"></label><br />
            <input asp-for="NumberInStock"  data-val='false' placeholder="Number in stock" />
            <span asp-validation-for="NumberInStock"></span>
            <br />
            <br />
            <label asp-for="Description"></label><br />
            <textarea rows="5" cols="50" asp-for="Description" placeholder="Description"></textarea>
            <span asp-validation-for="Description"></span>
            <br />
            <br />
            <label asp-for="ImageURL"></label><br />
            <input cols="50" asp-for="ImageURL" placeholder="Image URL" />
            <span asp-validation-for="ImageURL"></span>
            <br />
            <br />
            <label asp-for="IsActive"></label><br />
            <input asp-for="IsActive" data-val='false' />
            <span asp-validation-for="IsActive"></span>
            <br />
            <br />
            @*<label asp-for="AcceptTerms">I accpet terms and conditions</label><br />
                <input asp-for="AcceptTerms" type="checkbox" />
                <span asp-validation-for="AcceptTerms"></span>*@
            <br />
            @*<input type="checkbox" name="terms" value="terms">I accpet terms and conditions<br />*@
            <input type="submit" value="Add" />
        </form>
</body>
</html>