@using KABKABEhandel.ViewModels
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model AddProductViewModel
<html>
<head>
    <title>Add product</title>
</head>
<body>
    <h1>Add product</h1>
    <form asp-controller="product" asp-action="add">
        <label asp-for="Name"></label><br />
        <input asp-for="Name" placeholder="Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <br />
        <label asp-for="Price">Number of doors</label><br />
        <input asp-for="Doors" placeholder="Number of doors" />
        <span asp-validation-for="Doors"></span>
        <br />
        <br />
        <label asp-for="TopSpeed">Top speed</label><br />
        <input asp-for="TopSpeed" placeholder="Top speed" />
        <span asp-validation-for="TopSpeed"></span>
        <br />
        <br />
        <label asp-for="AcceptTerms">I accpet terms and conditions</label><br />
        <input asp-for="AcceptTerms" type="checkbox" />
        <span asp-validation-for="AcceptTerms"></span>
        <br />
        @*<input type="checkbox" name="terms" value="terms">I accpet terms and conditions<br />*@
        <input type="submit" value="Create" />
    </form>
</body>
</html>