@{
    ViewData["Title"] = "Product Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Pencils</h2>
        <div class="item">
            <img src="~/images/penna.jpg" alt="Penna" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-3">
        <h2>Printers</h2>
        <div class="item">
            <img src="~/images/skrivare.jpg" alt="Skrivare" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-3">
        <h2>Papers</h2>
        <div class="item">
            <img src="~/images/papper.png" alt="Papper" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-3">
        <h2>Staplers</h2>
        @if (Model.isActive)
        {
        <div class="item">
            <img src="~/images/haftapparat.jpg" alt="Haftapparat" class="img-responsive" />
        </div>
        }
    </div>
</div>

