@{
    ViewData["Title"] = "Product Page";
}
<script>
    $(document).ready(function () {
        $("#buyBtn").click(function () {

            alert("Product was clicked.");

        });
    });
</script>
<div class="row">
    <div class="col-md-3">
        @if (Model.IsActive)
        {
            <div class="item">
                <img src="@Model.ImageURL" class="img-responsive" />
            </div>
            <h2>Model.Name</h2>
            <h2>Model.Description</h2>
            <h2>Model.Price</h2>
            <button type="button" id="buyBtn">Buy</button>
        }
        
    </div>
</div>

