@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kontorsprylar AB<br />
    Häftapparatsgatan 7<br />
    123 45 GEMTRÄSK<br />
    <abbr title="Phone">Telefon:</abbr>
    0942-45020
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@kab.se">support@kab.se</a><br />
    <strong>Reklamationer:</strong> <a href="mailto:reklamation@kab.se">reklamation@kab.se</a>
</address>
