@{
    ViewData["Title"] = "Home Page";
}
@model KABKABEhandel.ViewModels.ListProductViewModel[]

<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 460px;
        height: 345px;
        margin: auto;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a asp-controller="Product" asp-action="Index" asp-route-id="1">
                <img src="~/images/haftapparat.jpg" alt="Haftapparat" class="img-responsive" />
            </a>
        </div>

        <div class="item">
            <a asp-controller="Product" asp-action="Index" asp-route-id="2">
                <img src="~/images/papper.png" alt="Papper" class="img-responsive" />
            </a>
        </div>


        <div class="item">
            <a asp-controller="Product" asp-action="Index" asp-route-id="3">
                <img src="~/images/penna.jpg" alt="Penna" class="img-responsive" />
            </a>
        </div>


        <div class="item">
            <a asp-controller="Product" asp-action="Index" asp-route-id="4">
                <img src="~/images/skrivare.jpg" alt="Skrivare" class="img-responsive" />
            </a>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <a asp-controller="Product" asp-action="Index" asp-route-id="1">
            <div class="item">
                <h4>Pencils</h4>
                <img src="~/images/penna.jpg" alt="Penna" class="img-responsive" />
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-controller="Product" asp-action="Index" asp-route-id="2">
            <div class="item">
                <h4>Printers</h4>
                <img src="~/images/skrivare.jpg" alt="Skrivare" class="img-responsive" />
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-controller="Product" asp-action="Index" asp-route-id="3">
            <div class="item">
                <h4>Papers</h4>
                <img src="~/images/papper.png" alt="Papper" class="img-responsive" />
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-controller="Product" asp-action="Index" asp-route-id="4">
            <div class="item">
                <h4>Staplers</h4>
                <img src="~/images/haftapparat.jpg" alt="Haftapparat" class="img-responsive" />
            </div>
        </a>
    </div>
</div>
