@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Confirm order</h1>

<script>

    $(document).ready(function () {

        $("#submit-order").submit(function (e) {

            e.preventDefault();

            if ($(this).valid()) {
                var orderDetails = [];
                for (var i in localStorage) {

                    if (i.indexOf("product-item-") > -1) {
                        var item = JSON.parse(localStorage[i]);
                        orderDetails.push(item);
                    }
                }
                alert(orderDetails.length);

                $.post("create", { order: orderDetails },
                function (data, status) {
                     alert("Data: " + data + "\nStatus: " + status);
                });
            }

        });
    });

</script>